/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */



.reglog{
    width: 100%;
    height: 484px;
    /* font-family: 'Poppins'; */
    background-image: url('./images/newss.jpg');
    background-size: cover;
    /* background-size: cover; */
    
 }
 container{
  position: absolute;
  top: 100px;
  left: 450px;
}
 
 

.signin-heading {
    color: black;
}

.sign-in-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 12px 0px rgb(255, 255, 255);
    padding: 30px 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.btn-btn-success{
    text-align: center;  
}

.form-group {
    background-color: antiquewhite;
    width: 300px;
    height: 55px;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 5px;
    border: 1px solid rgb(231, 224, 224);
    transition: all 0.3s;
}

.form-group i {
    text-align: center;
    line-height: 55px;
    color: rgb(135, 135, 136);    
}

.form-control {
    border: none;
    outline: none;
    background: none;
    font-family: 'Poppins';
}

.form-group:hover {
    transform: scale(1.2, 1.2);
}

.btn-login {
    width: 100%;
    background-color: rgb(60, 141, 235);
    color: rgb(255, 250, 250);
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;  
}

.btn-login:hover {
    background-color: rgb(12, 105, 211);
}
 
h2{
    color: white;
    font-size: 18px;
    
}

    /* body {
    background-position: center;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;
    max-width: 600px;
    box-sizing: border-box;
  }
  h2 {
    margin: 0px;
  }
  #formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
    background-position: center;
    background-size: cover;
  }
  #form {
    max-width: 600px;
    background-image:linear-gradient(to right, #657980, #64b2cc 30%, #657980);
  }
  fieldset {
    border-width: 5px;
    padding: 10px 20px 20px 20px;
    border-color: #f2f2f2;
    justify-content: center;
  }
  input {
    margin: 10px 10px 10px 0px;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
  }
  #fullName {
    display: flex;
    flex-wrap: wrap;
  }
  #fullName input {
    flex-grow: 1;
  }
  #otherInputs {
    display: flex;
    flex-wrap: wrap;
  }
  #otherInputs input {
    width: 100%;
  }
  #submit {
    display: block;
    margin: 0 auto;
    padding: 5px 0px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    background-color: #2a247a;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
  #submit:hover{
    background-color: white;
    color: #2a247a;
  }
  a {
    text-decoration: none;
  }
  .footer{
      position:relative;
      bottom:100px;
      
  }
   */